<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HabitatInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HabitatInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <HabitatInstaller.Properties.Settings>
            <setting name="SolutionDownloadUrl" serializeAs="String">
                <value>https://github.com/Sitecore/Habitat/archive/master.zip</value>
            </setting>
            <setting name="TempDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SolutionInstallPath" serializeAs="String">
                <value>c:\Projects\Habitat\</value>
            </setting>
            <setting name="InstanceRoot" serializeAs="String">
                <value>C:\\websites\\Habitat.dev.local</value>
            </setting>
            <setting name="PublishUrl" serializeAs="String">
                <value>http://habitat.dev.local</value>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value>dev.local</value>
            </setting>
        </HabitatInstaller.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HabitatInstaller.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>1.0</value>
            </setting>
        </HabitatInstaller.Properties.Settings>
    </applicationSettings>
</configuration>